body{
        overflow-x: hidden;
    font-family: 'Poppins' , sans-serif;
    background: #fafafa;
}

a,
a:hover,
a:focus{
   color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.wrapper{
        overflow-x: hidden;
    display: flex;
    text-decoration: none;
    transition: all 0.3s;
}
#sidebar{
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}
#sidebar.active{
    margin-left: -250px;
}

#sidebar .sidebar-header {
padding: 20px;
    background: #6d7fcc;
}
#sidebar ul.components {
   padding: 20px 0;
    border-bottom: 1px solid #47748b;
}
#sidebar ul p{
    color: #fff;
    padding: 10px;
}
#sidebar ul li a{
    padding: 15px;
    font-size: 1.0em;
    display: block;
}
#sidebar ul li a:hover{
    /*color: #7385D5;*/
        color: #7385D5;

      background: #fff;

}
#sidebar ul li.active>a,
a[aria-expanded="true"]{
   color: #fff;
    background: #6d7fcc;

}

a[data-toggle="collapse"]{
    position: relative;
}
.dropdown-toggle::after{
    display: block;
    position: relative;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
}
ul ul a{
    font-size: 0.8em !important;
    padding-left: 30px !important;
   background: #6d7fcc;
}
ul li a span{
    padding: 5px;
}
#content{
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active{
        margin-left: 0;
    }
    #sidebarCollapse span{
        display: none;
    }
}