
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row container-fluid" >
     <div class="col-md-11 col-sm-11 mx-3 mb-4">

              <h4 class="text-muted">Pocket Money</h4>


                       <button type="button" id="savePocketMoney" class="btn btn-outline-primary mr-3 ml-2 pull-right">Save</button>


                       <button type="button" id="newPocketMoney" class="btn btn-outline-secondary mr-3 ml-2 pull-right">New</button>

            </div>


        <div class="container-fluid" id="colorForm">
             <form id="teacher-form">
<div class="row">

  <div class="col-md-5 col-sm-11">
      <input type="hidden" id="context">
      <input type="hidden" id="format">
    <div class="form-row mb-4 form-check">
                                    <label class="control-label col-md-3" for="select">&nbsp;</label>

    <input type="checkbox" class="form-check-input" id="assign">
        <input type="hidden" name="pocketmoney_transtype" id="transType">
    <label class="form-check-label" for="assign" id="transactionType">Deposit</label>
  </div>

    <div class="form-row mb-4">
                            <label class="control-label col-md-3" for="select">Student</label>
                              <input type="hidden" name="pocket_money_student" id="pocketMoneyStudent">

                             <select id="student_frm" type="text" class="form-control col-md-9"></select>
    </div>
{% csrf_token %}
            <div class="form-row mb-4">
           <label class="col-md-3 control-label" for="select">Balance</label>
                              <input type="number" name="pocket_money_balance" id="balance" class="form-control col-md-9" readonly>
            </div>
           <div class="form-row mb-4">
           <label class="col-md-3 control-label" for="select">Amount</label>
                              <input type="number" name="pocket_money_amount" id="amount" class="form-control col-md-9">
            </div>

  </div>


  <div class="col-md-3 col-sm-11">
          <div class="form-row mb-4">
         &nbsp;
    </div>
    <div class="form-row mb-4">
          <label class="col-md-3 control-label" for="select">Date</label>
                            <input name="date_to" id="date" type="date" class="form-control col-md-9">
    </div>
  </div>

      <div class="col-md-4 col-sm-11" id="reportDiv">
    <div class="form-row mb-4 form-check">
    <input type="checkbox" class="form-check-input" id="reports">
    <label class="form-check-label" for="assign" id="transactioType">Reports</label>
  </div>
  <div class="form-row mb-4 elementrep">
           <label class="col-md-8 control-label" for="select">Report Dates</label>
  </div>
            <div class="form-row mb-4 elementrep">
                            <label class="control-label col-md-3" for="select">Student</label>
        <input type="hidden" name="report_student" id="reportStudent">
                             <select id="student_report_frm" class="form-control col-md-9"></select>
    </div>
    <div class="form-row mb-4 elementrep">
                            <label class="control-label col-md-3" for="select">Class</label>
        <input type="hidden" name="report_class" id="reportClass">
                             <select id="class_frm" type="text" class="form-control col-md-9"></select>
    </div>
    <div class="form-row mb-4 elementrep">
          <label class="col-md-3 control-label" for="select">Date From</label>
                            <input name="date_from" id="dateFrom" type="date" class="form-control col-md-9">
    </div>
    <div class="form-row mb-4 elementrep">
          <label class="col-md-3 control-label" for="select">Date To</label>
                            <input name="date_to" id="dateTo" type="date" class="form-control col-md-9">
    </div>
              <div class="form-row mb-4 elementrep">
<div class="form-check form-check-inline ml-2">
  <input class="form-check-input" type="radio" name="format" id="excel" value="excel">
  <label class="form-check-label" for="excel">Excel</label>
</div>
<!--                  <input type="hidden" id="genderformat"><input type="radio" name="format" id="excel" value="excel">&nbsp;<label for="excel" class="control-label">Excel</label>&nbsp; <input type="radio" id="pdf" name="format" value="pdf" style=" flex: 1 0 auto;display: flex;flex-direction: column;align-items: center;">&nbsp;<label for="pdf" class="form-control-static">Pdf</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-outline-secondary">Generate Report</button>-->
                  <div class="form-check form-check-inline ml-4 mr-4">
  <input class="form-check-input" type="radio" name="format" id="pdf" value="pdf">
  <label class="form-check-label" for="pdf">Pdf</label>
</div>
<button type="button" class="btn btn-outline-secondary ml-4 pull-right" id="generateButton">Generate Report</button>
              </div>

{#    <div class="form-row mb-3">#}
{#     <label class="col-md-3 control-label" for="select">Adm No.</label>#}
{#                            <input type="text" name="adm_no" id="admNo" class="form-control col-md-8">    </div>#}
{#    <div class="form-row mb-3">#}
{#     <label class="col-md-3 control-label" for="select">Adm No.</label>#}
{#                            <input type="text" name="adm_no" id="admNo" class="form-control col-md-8">    </div>#}
{#       <div class="form-row mb-3">#}
{#     <label class="col-md-3 control-label" for="select">Adm No.</label>#}
{#                            <input type="text" name="adm_no" id="admNo" class="form-control col-md-8">    </div>#}
  </div>

</div>
             </form>
</div>

        <div class="col-md-11 col-sm-11 ml-2 mt-2">

            <div class="table-responsive">
      <table class="table table-striped display responsive nowrap" id="pocketTable">
  <thead>
    <tr>
      <th scope="col">Admno</th>
      <th scope="col">Student Name</th>
        <th scope="col">Current Class</th>
      <th scope="col">Status</th>
      <th scope="col">Balance</th>
        <th></th>

    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
    </div>

        </div>
    </div>

      <script src=" {% static 'custom/fees/pocketmoney.js' %}"></script>



{% endblock %}
