{% load static %}

<!doctype html>
<html lang="en">
  <head>
  	<title>School</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
                  	<link rel="stylesheet" href="{% static 'datatables/css/datatablesbootstrap.css' %}">

{#                  	<link rel="stylesheet" href="{% static 'datatables/css/datatables.css' %}">#}
{#                  	<link rel="stylesheet" href="{% static 'datatables/css/datatablebuttons.css' %}">#}
                  	<link rel="stylesheet" href="{% static 'datatables/css/datatablesresponsive.css' %}">
                  	<link rel="stylesheet" href="{% static 'sweetalert/sweetalert.css' %}">
                  	<link rel="stylesheet" href="{% static 'filecontrol/css/fileinput.css' %}">

        <link rel="stylesheet" href="{% static 'select2/css/select2.css' %}">
        <link rel="stylesheet" href="{% static 'select2/css/select2.css' %}">
      	<link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'sweetalert/sweetalert.js' %}"></script>


        <script src=" {% static 'bootstrap/js/bootstrap.js' %}"></script>
        <script src=" {% static 'datatables/js/datatables.js' %}"></script>
                      <script src=" {% static 'datatables/js/datatablesbootstrap.js' %}"></script>

              <script src=" {% static 'datatables/js/datatablebuttons.js' %}"></script>
        <script src=" {% static 'datatables/js/datatableresponsive.js' %}"></script>
                <script src=" {% static 'datatables/js/datatablescroller.js' %}"></script>
                      <script src=" {% static 'filecontrol/js/fileinput.js' %}"></script>


        <script src=" {% static 'select2/js/select2.js' %}"></script>
        <script src="{% static 'js/bootbox.min.js' %}"></script>
        <script src=" {% static 'custom/base.js' %}"></script>

  </head>
  <body>
	<div class="wrapper">
            <nav id="sidebar">
               <div class="sidebar-header">
                   <h1>SchoolSys</h1>
               </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href="#setupsSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span><i class="fa fa-cogs"></i></span>Configs</a>
                        <ul class="collapse list-unstyled" id="setupsSubMenu">
                                    <li>
                    <a href="{% url 'getorgpage' %}">Organization</a>
                                </li>
                                 <li>
                    <a href="#">System Setups</a>
                                </li>

                <li>
                    <a href="{% url 'usersadmin' %}">Admin Setups</a>
                </li>
                <li>
                    <a href="#">Account Setups</a>
                </li>
                      <li>
                    <a href="{% url 'academics' %}">Academic Setups</a>
                      </li>
                               <li>
                    <a href="#">End of Period</a>
                      </li>

                        </ul>
                    </li>
                                <li>
              <a href="#userSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span><i class="fa fa-users"></i></span>Users</a>
              <ul class="collapse list-unstyled" id="userSubmenu">
                <li>
                    <a href="#">Registration</a>
                </li>
                <li>
                    <a href="#">Roles</a>
                </li>

              </ul>
	          </li>
                      <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span><i class="fa fa-graduation-cap"></i></span>Student Manager</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="{% url 'genderdistribution' %}">Student Enquiry</a>
                </li>
                <li>
                    <a  href="{% url 'getparent' %}">Parents</a>
                </li>
                <li>
                    <a href="{% url 'studentpage' %}">Student Details</a>
                </li>
                  <li>
                    <a href="#">Online Applications</a>
                </li>
                     <li>
                    <a href="{% url 'getstudentsubject' %}">Student Subjects</a>
                </li>
                   <li>
                    <a href="{% url 'studentmovements' %}">Student Movements</a>
                </li>
                     <li>
                    <a href="#">Student Daily Register</a>
                </li>
                     <li>
                    <a href="#">Trips</a>
                </li>
                      <li>
                    <a href="#">Extra Curriculum</a>
                </li>
                        <li>
                    <a href="#">Events Calendar</a>
                </li>
              </ul>
	          </li>
	             <li>
              <a href="#marksSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span><i class="fa fa-users"></i></span>Staff Manager</a>
              <ul class="collapse list-unstyled" id="marksSubmenu">
                <li>
                    <a href="{% url 'teacherpage' %}">Teachers Details</a>
                </li>
                <li>
                    <a href="#">Support Staff</a>
                </li>
                <li>
                    <a href="#">Teacher Attendance Register</a>
                </li>
                  <li>
                    <a href="#">Non-Teaching Attendance Register</a>
                </li>
                     <li>
                    <a href="#">Teachers Leaveouts</a>
                </li>
              </ul>
	          </li>
	            <li>
              <a href="#examSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span><i class="fa fa-line-chart"></i></span>Exam Manager</a>
              <ul class="collapse list-unstyled" id="examSubmenu">
                <li>
                    <a href="{% url 'examreg' %}">Exam Registration</a>
                </li>
                <li>
                    <a href="{% url 'examprocess' %}">Marks Recording</a>
                </li>
                <li>
                    <a href="#">Exam Processing</a>
                </li>
                  <li>
                    <a href="#">Merge Exams</a>
                </li>
                    <li>
                    <a href="#">Combine Subjects</a>
                </li>
                  <li>
                    <a href="#">Custom Teacher Comments</a>
                </li>
              </ul>
	          </li>

                        <li>
              <a href="#timeTableSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span><i class="fa fa-line-chart"></i></span>Timetable Manager</a>
              <ul class="collapse list-unstyled" id="timeTableSubmenu">
                <li>
                    <a href="{% url 'daysetups' %}">Days Setup</a>
                </li>
                <li>
                    <a href="{% url 'lessonsetup' %}">Lessons Setup</a>
                </li>
                <li>
                    <a href="{% url 'lessonallocation' %}">Lessons Allocation</a>
                </li>
              </ul>
	          </li>

                <li>
              <a href="#feemanagerSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span><i class="fa fa-money"></i></span>Fee Manager</a>
              <ul class="collapse list-unstyled" id="feemanagerSubmenu">
                <li>
                    <a href="{% url 'feesetupspage' %}">Fee Setups</a>
                </li>
                <li>
                    <a href="{% url 'feepage' %}">Recieve Fees</a>
                </li>
                <li>
                    <a href="{% url 'showreceipt' %}">M~PESA Transactions</a>
                </li>
                  <li>
                    <a href="#">Recieve External Funding</a>
                </li>
                     <li>
                    <a href="#">Manage Receipts</a>
                </li>
                  <li>
                    <a href="{% url 'balances' %}">Manage Balances</a>
                </li>
                    <li>
                    <a href="{% url 'pocketmoneypage' %}">Manage Pocket Money</a>
                </li>
                  <li>
                    <a href="#">Fee Reports</a>
                </li>
              </ul>
                </li>
                    <li>
              <a href="#financemanagerSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span><i class="fa fa-dollar"></i></span>&nbsp;Finance Manager</a>
              <ul class="collapse list-unstyled" id="financemanagerSubmenu">
                <li>
                    <a href="{% url 'pettypage' %}">PettyCash</a>
                </li>
                <li>
                    <a href="#">Budget</a>
                </li>
                <li>
                    <a href="#">Suppliers and Customers</a>
                </li>
                  <li>
                    <a href="#">Items and Services</a>
                </li>
                     <li>
                    <a href="#">Purchase Invoices</a>
                </li>
                  <li>
                    <a href="#">Supplier Payments</a>
                </li>
                      <li>
                    <a href="#">Supplier Balances</a>
                </li>
                    <li>
                    <a href="#">Sales</a>
                </li>
                       <li>
                    <a href="#">Customer Payments</a>
                </li>
                       <li>
                    <a href="#">Manage Assets</a>
                </li>
                  <li>
                    <a href="#">Period Close</a>
                </li>
              </ul>
	          </li>
                </ul>
            </nav>

        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container-fluid mr-4">
                  <button type="button" id="sidebarCollapse" class="btn btn-muted">
                      <i class="fa fa-bars" style="font-size:27px"></i>
                  </button>
                  <div class="mr-4">
                  <a class="pull-right mr-4" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>Logout</a>
                      </div>
              </div>
            </nav>
          <br>
                 {% block content %}

        {% endblock %}
        </div>
        </div>



  </body>
</html>