{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-10 mx-auto">
            <form id="county-form">
                {% csrf_token %}
                <input type="hidden" name="county_id" id="inputId">
                <div class="form-group row mb-3">
                    <div class="col-sm-6">
                        <label for="inputFirstname">County Name</label>
                        <input type="text" name="county_name" class="form-control" id="inputName" placeholder="">
                    </div>

                </div>
                <div class="form-group row mb-3">
                    <div class="col-sm-6">
                        <label for="inputAddressLine1">County Code</label>
                        <input type="text" name="county_code" class="form-control" id="inputCode" placeholder="">
                    </div>
                </div>
                    <div class="form-group row mb-3">
                    <div class="col-sm-6">

                    <label for="country-frm" class="control-label col-md-2" style="font-weight: lighter">
            Country</label>

                <input type="hidden" id="country-id" name="county_country"/>
                <input type="hidden" id="country-name">
                <select id="country-frm" class="form-control"
                     >


        </select>
                   </div>
                   </div>
                <button type="button" id="save-county" class="btn btn-outline-primary px-4 float-right">Save</button>


            </form>
        </div>
        <div class="col-md-10 mx-auto mt-4">

            <div class="table-responsive">
        <table class="table table-striped display responsive nowrap" id="countyTable">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Code</th>
      <th scope="col">Country</th>
        <th></th>
        <th></th>

    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
    </div>

        </div>



    </div>


{% endblock %}